@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {

  /*Colors*/
  --darkBlueColor: #161B49;
  --whiteColor: #FFFFFF;
  --blueColor: #363B6B;
  --redColor: #C60000;
  --grayColor: #4B4B4B;

  /*Font*/
  --baseFontFamily: 'Roboto', sans-serif;
  --baseFontWeight: 400;
  --baseFontSize: 16px;


  /*Width*/
  --maxWidthContainer: 1440px;
}

body {
  background-color: var(--darkBlueColor);
  font-family: var(--baseFontFamily);
  font-weight: var(--baseFontWeight);
  color: var(--whiteColor);
  font-size: var(--baseFontSize);
}

.container {
  max-width: var(--maxWidthContainer);
  margin: 0 auto;
}

/*Header*/
.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.header__top {
  padding: 57px 0 23px 0;
}

.header__top .container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.header__logo {
  width: 70px;
  height: 108px;
  position: absolute;
  top: -20px;
  left: -10px;
}

.header__fka {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px 155px 0 75px;
  min-width: 100px;
}

.header__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__block {
  background-color: var(--whiteColor);
  color: var(--darkBlueColor);
  padding: 18px 0 20px 0;
}

.header__block .container {
  display: flex;
  flex-direction: row;
}

.header__block div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__city {
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 90px 0 75px;
  min-width: 170px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 59px;
}

.header__nav-link {
  color: var(--darkBlueColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s;
}

.header__nav-link .header__nav-icon {
  stroke: var(--darkBlueColor);
}

.header__nav-link--active {
  color: var(--redColor);
}

.header__nav-link--active .header__nav-icon {
  transform: rotate(-180deg);
  stroke: var(--redColor);
}

.header__form {
  position: relative;
  width: 200px;
  height: 24px;
}

.header__form-input {
  width: 0;
  padding: 0 25px 0 10px;
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__form-input:focus {
  width: 180px;
  z-index: 1;
  border-bottom: 1px solid #F9F0DA;
}

.header__form-submit {
  border: none;
  height: 19px;
  width: 19px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-image: url("../img/Header/search.svg");
}

/*Social*/
.social {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social>li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 24px;
  height: 24px;
  margin-right: 45px;
}

.social>li:last-child {
  margin-right: 0;
}

.social a {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity .3s;
  width: 100%;
  height: 100%;
  border-radius: .25rem;
}

.social a:hover {
  opacity: 0.5;
}

.social a::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.social .social-world::before {
  background-image: url("../img/Menu/world.svg");
}

.social .social-shopping::before {
  background-image: url("../img/Menu/shopping-cart.svg");
}

.social .social-newspaper::before {
  background-image: url("../img/Menu/newspaper.svg");
}

.social .social-tickets::before {
  background-image: url("../img/Menu/tickets.svg")
}

.social .social-twitter::before {
  background-image: url("../img/Social/twitter.svg");
}

.social .social-fb::before {
  background-image: url("../img/Social/facebook.svg");
}

.social .social-insta::before {
  background-image: url("../img/Social/insta.svg");
}

.social .social-vk::before {
  background-image: url("../img/Social/vk.svg");
}

.social .social-youtube::before {
  background-image: url("../img/Social/youtube.svg");
}

/*Button*/
.button {
  display: inline-block;
  height: 46px;
  border: 1px solid var(--redColor);
  padding: 14px 34px 13px 34px;
  border-radius: 54px;
  text-transform: uppercase;
  text-align: center;
  color: var(--whiteColor);
  background: var(--redColor);
  font-style: normal;
  font-weight: 700;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: background-color .3s, border .3s;
}

.button__arrow {
  margin-left: 14px;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: #9a0000;
}

.button--light {
  background-color: var(--whiteColor);
  color: var(--redColor);
  padding: 14px 22px 13px 24px;
}

.button--light:hover,
.button--light:active {
  background-color: var(--redColor);
  color: var(--darkBlueColor);
}

.button--light .button__arrow {
  stroke: currentColor;
}

/*Title*/
.title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/*Date*/
.date {
  display: block;
  padding-top: 5px;
  text-transform: uppercase;
}

.date p:nth-child(1) {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: var(--redColor);
}

.date p:nth-child(2) {
  color: var(--grayColor);
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

/*Info*/
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.info__data p:nth-child(1) {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(75, 75, 75, 0.56);
  margin-bottom: 15px;
}

.info__data p:nth-child(2) {
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  color: var(--redColor);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.info__data p:nth-child(3) {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: var(--grayColor);
  margin-bottom: 32px;
}

.info__data p:nth-child(3) span {
  margin-left: 10px;
  margin-right: 10px;
}

/*StartPage*/
.start-page {
  position: relative;
  background-image: url("../img/StartPage/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.start-page__left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 370px;
  background-color: var(--darkBlueColor);
}

.start-page .container {
  position: relative;
  z-index: 2;
  padding-top: 208px;
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-bottom: 36px;
}

.start-page__statistic {
  max-width: 812px;
  background: #FFFFFF;
  padding: 12px 0 28px 0px;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
}

.start-page__statistic-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-left: 11px;
  text-transform: uppercase;
  color: #161B49;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-page__statistic-name {
  padding: 20px 40px;
}

.start-page__statistic-name--active {
  color: var(--redColor);
  background-color: #F1F1F1;
  border-radius: 9px;
}

.start-page__statistic-name:hover {
  opacity: 0.8;
}

.start-page__statistic-team {
  display: flex;
  flex-direction: row;
  gap: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 0 16px 46px;
  border-bottom: 1px solid #D7D7D7;
}

.start-page__statistic-link {
  display: block;
  color: #4B4B4B;
}

.start-page__statistic-link--active {
  font-weight: 700;
  color: var(--redColor);
}

.start-page__statistic-team a:hover {
  opacity: 0.8;
}

/*Table*/
.start-page__statistic-table {
  table-layout: fixed;
  width: 100%;
  color: var(--grayColor);
  padding: 23px 0 28px 0;

  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.start-page__statistic-table th {
  padding: 23px 0 22px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #A6A6A6;
  text-align: start;
  text-transform: uppercase;
}

.start-page__statistic-table th:nth-child(1),
.start-page__statistic-table td:nth-child(1) {
  padding-left: 44px;
  width: 225px;
  height: 25px;
}

.start-page__statistic-table td {
  font-size: 12px;
  border: 0px;
}

.start-page__statistic-table tbody tr:nth-child(odd) {
  background-color: rgba(208, 208, 208, 0.1);
}

.start-page__statistic-table tbody tr:hover {
  opacity: 0.7;
}

/**/

.start-page__matches {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.start-page__next {
  width: 100%;
  color: var(--darkBlueColor);
  padding: 35px 28px 41px 29px;
  background-color: var(--whiteColor);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
}

.start-page__next-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-page__next-top .title {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
}

.start-page__buttons {
  display: flex;
  flex-direction: row;
  gap: 27px;
  padding-right: 25px;
  justify-content: flex-end;
}

.start-page__timetable {
  width: 100%;
  padding: 15px 15px 0px 10px;
  background: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
}

.start-page__timetable-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-page__timetable .date {
  padding: 21px 25px 22px 25px;
  background: #F1F1F1;
  border-radius: 9px;
}

.start-page__timetable .date--inactive {
  background-color: transparent;
}

.start-page__timetable .date--inactive p {
  color: #989898;
}

.start-page__timetable .date:hover {
  opacity: 0.8;
}

.start-page__timetable .date p:nth-child(1) {
  font-size: 23px;
  line-height: 27px;
}

.start-page__timetable .date p:nth-child(2) {
  font-size: 14px;
  line-height: 16px;
}

.start-page__timetable .info {
  padding-top: 28px;
  gap: 30px;
}

.start-page__timetable .info img {
  padding-bottom: 25px;
}

/*Swiper*/
.swiper {
  height: 422px;
  background-color: var(--darkBlueColor);
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
}

.swiper__img {
  border-radius: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 45px !important;
}

.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  display: inline-block;
  border-radius: 0 !important;
  background: var(--whiteColor) !important;
  opacity: 1 !important;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--redColor) !important;
}

/*Tickets*/
.tickets {
  position: relative;
  background-color: var(--whiteColor);
  height: 234px;
  background-image: url("../img/Tickets/background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.tickets .container {
  max-width: 1025px;
  padding: 77px 0 78px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tickets__text {
  color: var(--darkBlueColor);
  text-transform: uppercase;
  font-weight: 700;
}

.tickets__text p:first-child {
  font-size: 39px;
}

.tickets__text p:last-child {
  font-size: 30px;
}

.tickets__ball {
  position: absolute;
  top: -100px;
  right: 0;
  filter: drop-shadow(-18px 31px 68px rgba(0, 0, 0, 0.2));
}

/*News*/
.news {
  height: 704px;
  padding-top: 112px;
  background-image: url("../img/News/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news__wrapper {
  width: 100%;
  position: relative;
}

.news__carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.news__carousel::-webkit-scrollbar {
  height: 0;
}

.news__content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.news__card {
  width: 289px;
  height: 396px;
  background: #F4F4F4;
  border-radius: 5px;
}

.news__link,
.news__link-news {
  color: var(--darkBlueColor);
  text-transform: uppercase;
}

.news__card div {
  padding: 0 25px 0 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.news__date {
  padding: 32px 0px 23px 29px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: var(--darkBlueColor);
}

.news__link {
  padding-left: 29px;
  display: block;
  max-width: 209px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.news__link-news {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.news__buttons {
  padding-top: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.news__buttons div {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/*Team*/
.team {
  padding-top: 67px;
  background-color: var(--darkBlueColor);
}

.team__block {
  display: flex;
  flex-direction: row;
}

.team__list {
  display: flex;
  flex-direction: row;
  min-width: 730px;
  justify-content: space-between;
  margin-left: 63px;
}

.team__list-link {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
}

.team__list-link::after {
  content: "";
  position: absolute;
  height: 5px;
  bottom: -9px;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: var(--redColor);
  transition: opacity 0.4s;
}

.team__list-link:hover::after,
.team__list-link--active::after {
  opacity: 1;
}

.team .swiper__data,
.team .swiper__data-parameters {
  display: flex;
  flex-direction: row;
  gap: 33px;
  text-transform: uppercase;
}

.team .swiper__data {
  display: none;
}

.swiper-slide-next .swiper__data {
  display: flex;
}

.team .swiper__data {
  padding-top: 50px;
  position: relative;
  left: 50px;
}

.team .swiper {
  width: 1695px;
  left: -240px;
}

.team .swiper-slide-next img {
  position: relative;
  left: 105px;
}

.team .swiper-slide-next {
  margin-right: 222px !important;
}

.team .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 237px;
}

.team .swiper-button-next,
.swiper-button-prev {
  top: 50% !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background-color: var(--redColor);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
  width: 60px;
  height: 60px;
  background-image: url("../img/Team/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.swiper__data-left,
.swiper__data-right {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.swiper__data-left p:nth-child(1) {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.swiper__data-left p:nth-child(2) {
  font-weight: 900;
  font-size: 112px;
  line-height: 131px;
}

.swiper__data-left p:nth-child(3) {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.swiper__data-name {
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  color: var(--redColor);
  width: min-content;
  margin-bottom: 11px;
}

.swiper__data-parameters {
  gap: 38px;
  color: #9195B8;
  margin-bottom: 17px;
}

.swiper__data-parameters div {
  text-align: start;
}

.swiper__data-parameters div p:nth-child(1) {
  font-weight: 900;
}

.swiper__data-right .social>li {
  width: 19px;
  height: 19px;
  margin-right: 15px;
  margin-left: 0;
  opacity: 0.4;
}

/*Statistics*/
.statistics {
  background-image: url("../img/Statistics/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.statistics .container {
  display: flex;
  flex-direction: row;
  padding: 100px 0 76px 0;
}

.statistics__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.statistics__players {
  width: 66%;
}

.statistics__items {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  justify-content: space-between;
}

.statistics__card {
  max-width: 267px;
  text-transform: uppercase;
  font-size: 18px;
}

.statistics__card:nth-child(2),
.statistics__card:nth-child(3) {
  text-align: center;
}

.statistics__card-best {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}

.statistics__card-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 38px;
  margin: 21px 0 13px 0;
}

.statistics__card:nth-child(2) .statistics__card-result {
  margin-left: 35px;
}

.statistics__card-team {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 24px 0;
}

.statistics__card-img {
  position: relative;
  width: 267px;
  height: 267px;
  background-color: rgba(54, 59, 107, 0.36);
  ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 49px;
}

.statistics__card-img img {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  margin: 0 auto;
}

.statistics__card-number {
  padding-top: 18px;
  position: absolute;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: var(--blueColor);
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  bottom: -13px;
}

.statistics__card-name {
  text-align: center;
}

.statistics__card-name span {
  font-weight: 700;
}

.statistics__season {
  position: relative;
  width: 34%;
  padding-left: 105px;
}

.statistics__block {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 60px;
}

.statistics__block:last-child {
  margin-top: 90px;
}

.statistics__block p:nth-child(1) {
  color: var(--redColor);
  font-size: 61px;
  font-weight: 900;
}

.statistics__block p:nth-child(2) {
  margin-top: 10px;
  color: var(--whiteColor);
  font-size: 14px;
  text-transform: uppercase;
}

.statistics__block p span {
  color: var(--redColor);
  font-weight: 400;
  font-size: 20px;
}

.statistics__circle {
  position: absolute;
  top: 96px;
  right: 0;
}


/*Shop*/

.shop {
  padding: 60px 0 66px 0;
}

.shop__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}

.shop__top .button {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  padding: 12px 0px 8px 12px;
}

.shop__top .button:hover {
  background-color: var(--redColor);
  border: 1px solid var(--redColor);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}

.shop__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shop__card {
  width: 341px;
  padding: 30px 30px 26px 30px;
  display: flex;
  background-color: var(--whiteColor);
  flex-direction: column;
  align-items: center;
  color: var(--whiteColor);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
}

.shop__link {
  font-weight: 400;
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #161B49;
  height: 32px;
}

.shop__link:hover {
  color: var(--redColor);
}

.shop__img {
  height: 205px;
  width: auto;
}

.shop__order {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.shop__order .button {
  padding: 13px 15px 13px 16px;
}

.shop__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--redColor);
}


/*Information*/

.information {
  background-image: url("../img/Information/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.information__social {
  padding-top: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information__card {
  position: relative;
  padding: 0 35px 18px 45px;
  width: 335px;
  height: 529px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.11);
  border-radius: 19px;
  transition: background-color 0.3s;
}

.information__card:first-child {
  padding: 0 35px 18px 24px;
}

.information__card>a::before {
  position: absolute;
  content: '';
  inset: 0;
}

.information__card:hover {
  background-color: #f3f3f3;
}

.information__card:nth-child(1) img:nth-child(3) {
  margin-bottom: 40px;
}

.information__card:nth-child(2) img:nth-child(3) {
  margin-bottom: 16px;
}

.information__card:nth-child(3) {
  padding: 34px 22px 14px 39px
}

.information__card:nth-child(3) img:nth-child(3) {
  margin-top: 12px;
}

.information__card:nth-child(4) {
  padding: 18px 25px 18px 50px;
}

.information__card:nth-child(4) img:nth-child(3) {
  margin-top: 12px;
}

.information__card-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.information__partners {
  padding: 107px 0 123px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  align-items: center;
}

/*Footer*/

.footer {
  padding: 60px 0 42px 0;
}

.footer__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__title h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.footer__references {
  position: relative;
  padding: 45px 0 0 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  position: absolute;
  left: 0;
  top: 30px;
  width: 96px;
  height: 148px;
}

footer .social>li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 32px;
  height: 32px;
  margin-right: 24px;
}

footer .social a::before {
  width: 32px;
  height: 32px;
  opacity: 0.4;
}

.footer__list>li {
  margin-top: 5px;
}

.footer__list:nth-child(1) {
  margin-top: 0;
}

.footer__list a {
  font-weight: 400;
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: opacity 0.3s;
}

.footer__list a:hover {
  opacity: 0.5;
}

.footer__list .footer__list-name {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 12px;
}