@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {

  /*Colors*/
  --darkBlueColor: #161B49;
  --whiteColor: #FFFFFF;
  --blueColor: #363B6B;
  --redColor: #C60000;

  /*Font*/
  --baseFontFamily: 'Roboto', sans-serif;
  --baseFontWeight: 400;
  --baseFontSize: 16px;


  /*Width*/
  --maxWidthContainer: 1440px;
}

body {
  background-color: var(--darkBlueColor);
  font-family: var(--baseFontFamily);
  font-weight: var(--baseFontWeight);
  color: var(--whiteColor);
  font-size: var(--baseFontSize);
}

.container {
  max-width: var(--maxWidthContainer);
  margin: 0 auto;
}

/*Header*/
.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.header__top {
  padding: 57px 0 23px 0;
}

.header__top .container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.header__logo {
  width: 70px;
  height: 108px;
  position: absolute;
  top: -20px;
  left: -10px;
}

.header__fka {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 5px 155px 0 75px;
  min-width: 100px;
}

.header__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__block {
  background-color: var(--whiteColor);
  color: var(--darkBlueColor);
  padding: 18px 0 20px 0;
}

.header__block .container {
  display: flex;
  flex-direction: row;
}

.header__block div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__city {
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 90px 0 75px;
  min-width: 170px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 59px;
}

.header__nav-link {
  color: var(--darkBlueColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s;
}

.header__nav-link .header__nav-icon{
  stroke: var(--darkBlueColor);
}

.header__nav-link--active {
  color: var(--redColor);
}

.header__nav-link--active .header__nav-icon {
  transform: rotate(-180deg);
  stroke: var(--redColor);
}

.header__form {
  position: relative;
  width: 200px;
  height: 24px;
}

.header__form-input {
  width: 0;
  padding: 0 25px 0 10px;
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__form-input:focus {
  width: 180px;
  z-index: 1;
  border-bottom: 1px solid #F9F0DA;
}

.header__form-submit {
  border: none;
  height: 19px;
  width: 19px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-image: url("../img/Header/search.svg");
}

/*Social*/
.social {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social>li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 24px;
  height: 24px;
  margin-right: 45px;
}

.social>li:last-child {
  margin-right: 0;
}

.social a {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity .3s;
  width: 100%;
  height: 100%;
  border-radius: .25rem;
}

.social a:hover {
  opacity: 0.5;
}

.social a::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.social .social-world::before {
  background-image: url("../img/Menu/world.svg");
}

.social .social-shopping::before {
  background-image: url("../img/Menu/shopping-cart.svg");
}

.social .social-newspaper::before {
  background-image: url("../img/Menu/newspaper.svg");
}

.social .social-tickets::before {
  background-image: url("../img/Menu/tickets.svg")
}

.social .social-twitter::before {
  background-image: url("../img/Social/twitter.svg");
}

.social .social-fb::before {
  background-image: url("../img/Social/facebook.svg");
}

.social .social-insta::before {
  background-image: url("../img/Social/insta.svg");
}

.social .social-vk::before {
  background-image: url("../img/Social/vk.svg");
}

.social .social-youtube::before {
  background-image: url("../img/Social/youtube.svg");
}


/*Button*/
.button {
  display: inline-block;
  height: 46px;
  border: 1px solid var(--redColor);
  padding: 14px 34px 13px 34px;
  border-radius: 54px;
  text-transform: uppercase;
  text-align: center;
  color: var(--whiteColor);
  background: var(--redColor);
  font-style: normal;
  font-weight: 700;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: background-color .3s, border .3s;
}

.button__arrow {
  margin-left: 14px;
  vertical-align: middle;
}

.button:hover, .button:active {
  background-color: #9a0000;
}

/*Title*/
.title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/*StartPage*/
.start-page {
  height: 100vh;
  background-image: url("../img/StartPage/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.start-page__left {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 370px;
  background-color: var(--darkBlueColor);
}

.start-page .container {
  position: relative;
  z-index: 2;
  padding-top: 208px;
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.start-page__statistic {
  min-width: 812px;
  height: 625px;
}

.card {
  background-color: var(--whiteColor);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
}

.start-page__matches {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.start-page__matches-next {
  width: 100%;
  height: 312px;
  padding: 35px 22px 41px 29px;
}

.start-page__matches-timetable {
  width: 100%;
  height: 270px;
  padding: 12px 38px 41px 10px;
}


/*Swiper*/
.swiper {
  height: 422px;
  background-color: var(--darkBlueColor);
}

.swiper__img {
  border-radius: 10px;
}

/*Tickets*/
.tickets {
  position: relative;
  background-color: var(--whiteColor);
  height: 234px;
  background-image: url("../img/Tickets/background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.tickets .container {
  max-width: 1025px;
  padding: 77px 0 78px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tickets__text {
  color: var(--darkBlueColor);
  text-transform: uppercase;
  font-weight: 700;
}

.tickets__text p:first-child {
  font-size: 39px;
}

.tickets__text p:last-child {
  font-size: 30px;
}

.tickets__ball {
  position: absolute;
  top: -100px;
  right: 0;
  filter: drop-shadow(-18px 31px 68px rgba(0, 0, 0, 0.2));
}

/*Statistics*/
.statistics {
  background-image: url("../img/Statistics/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.statistics .container {
  display: flex;
  flex-direction: row;
  padding: 100px 0 76px 0;
}

.statistics__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.statistics__players {
  width: 66%;
}

.statistics__items {
  display: flex;
  flex-direction: row;
  padding-top: 60px; 
  justify-content: space-between; 
}

.statistics__card {
  max-width: 267px;
  text-transform: uppercase;
  font-size: 18px;
}

.statistics__card:nth-child(2), 
.statistics__card:nth-child(3) {
  text-align: center;
}

.statistics__card-best {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}

.statistics__card-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 38px;
  margin: 21px 0 13px 0;
}

.statistics__card:nth-child(2) .statistics__card-result {
  margin-left: 35px; 
}

.statistics__card-team {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 24px 0;
}

.statistics__card-img {
  position: relative;
  width: 267px;
  height: 267px;
  background-color: rgba(54, 59, 107, 0.36);;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 49px;
}

.statistics__card-img img{
  width: 215px;
  height: 215px;
  border-radius: 50%;
  margin: 0 auto;
}

.statistics__card-number {
  padding-top: 18px;
  position: absolute;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: var(--blueColor);
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  bottom: -13px;
}

.statistics__card-name {
  text-align: center;
}

.statistics__card-name span {
  font-weight: 700;
}

.statistics__season {
  position: relative;
  width: 34%;
  padding-left: 105px;
}

.statistics__block {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 60px;
}

.statistics__block:last-child {
  margin-top: 90px;
}

.statistics__block p:nth-child(1) {
  color: var(--redColor);
  font-size: 61px;
  font-weight: 900;
}

.statistics__block p:nth-child(2) {
  margin-top: 10px;
  color: var(--whiteColor);
  font-size: 14px;
  text-transform: uppercase;
}

.statistics__block p span {
  color: var(--redColor);
  font-weight: 400;
  font-size: 20px;
}

.statistics__circle {
  position: absolute;
  top: 96px;
  right: 0;
}


/*Shop*/

.shop {
  padding: 60px 0 66px 0;
}

.shop__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}

.shop__top .button {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  padding: 12px 0px 8px 12px;
}

.shop__top .button:hover {
  background-color: var(--redColor);
  border: 1px solid var(--redColor);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}

.shop__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shop__card {
  width: 341px;
  padding: 30px 30px 26px 30px;
  display: flex;
  background-color: var(--whiteColor);
  flex-direction: column;
  align-items: center;
  color: var(--whiteColor);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
}

.shop__link {
  font-weight: 400;
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #161B49;
  height: 32px;
}

.shop__link:hover {
  color: var(--redColor);
}

.shop__img {
  height: 215px;
  width: auto;
}

.shop__order {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.shop__order .button {
  padding: 13px 15px 13px 16px;
}

.shop__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--redColor);
}